#terraform
.terraform
*.tfstate
*.tfstate.backup
*.tfvars
IaC/*/*.hcl
IaC/*.hcl

#secrets
secrets/

#python
*/__pycache__/

examples/venv/*
.vscode/*
*.ipynb_checkpoints*
*.pyc
examples/mlflow-log-pusher-key.json
